*, *::before, *::after{
  box-sizing: border-box; 
}

*{
  margin: 0; 
  padding: 0; 
}

ul[role='list'], ol[role='list']{
  list-style: none; 
}

html:focus-within{
  scroll-behavior: smooth; 
}

a:not([class]){
  text-decoration-skip-ink: auto; 
}

img, picture, svg, video, canvas{
  display: block;
  max-width: 100%;
  height: auto; 
  block-size: auto;
  max-inline-size: 100%;
  font-style: italic; 
  background-repeat: no-repeat; 
  background-size: cover;
}

input, button, textarea, select{
  font: inherit; 
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

@media (prefers-reduced-motion: reduce){
  html:focus-within {
      scroll-behavior: auto;
  }
  *, *::before, *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
      transition: none;
  }
}

body, html{
  height: 100%; 
  margin: unset;
  scroll-behavior: smooth; 
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

#root, #__next {
  isolation: isolate;
}

:host {
  font-family: "GeistSans", sans-serif !important;
  padding: 0;
  margin: 0;
}
